body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

section {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
